In [43]:
import pandas as pd
import numpy as np

In [44]:
movies=pd.read_csv('tmdb_movie_dataset.csv')
credits=pd.read_csv('tmdb_movie_credits.csv')

In [45]:
movies.head(1)

,budget,genres,homepage,tmdbId,keywords,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,ratingId
0,4000000,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 35, ""name...",NaN,5,"[{""id"": 612, ""name"": ""hotel""}, {""id"": 613, ""na...",en,Four Rooms,It's Ted the Bellhop's first night on the job....,22.87623,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...",...,1995-12-09,4300000,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,6.5,530,18

In [46]:
credits.head(1)

,tmdbId,title,cast,crew
0,5,Four Rooms,"[{""cast_id"": 42, ""character"": ""Ted the Bellhop...","[{""credit_id"": ""52fe420dc3a36847f800012d"", ""de..."

In [47]:
movies=movies.merge(credits,on='title')

In [48]:
movies.head(1)

,budget,genres,homepage,tmdbId_x,keywords,original_language,original_title,overview,popularity,production_companies,...,spoken_languages,status,tagline,title,vote_average,vote_count,ratingId,tmdbId_y,cast,crew
0,4000000,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 35, ""name...",NaN,5,"[{""id"": 612, ""name"": ""hotel""}, {""id"": 613, ""na...",en,Four Rooms,It's Ted the Bellhop's first night on the job....,22.87623,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,6.5,530,18,5,"[{""cast_id"": 42, ""character"": ""Ted the Bellhop...","[{""credit_id"": ""52fe420dc3a36847f800012d"", ""de..."

In [49]:
movies.columns

Index(['budget', 'genres', 'homepage', 'tmdbId_x', 'keywords',
       'original_language', 'original_title', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'ratingId', 'tmdbId_y', 'cast', 'crew'],
      dtype='object')

In [50]:
# genres
# id
# keywords
# title
# overview
# cast
# crew
movies = movies[['tmdbId_x','title','overview','genres','keywords', 'cast', 'crew']]

In [51]:
movies.rename(columns={'tmdbId_x': 'movie_id'}, inplace=True)

In [52]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,5,Four Rooms,It's Ted the Bellhop's first night on the job....,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 35, ""name...","[{""id"": 612, ""name"": ""hotel""}, {""id"": 613, ""na...","[{""cast_id"": 42, ""character"": ""Ted the Bellhop...","[{""credit_id"": ""52fe420dc3a36847f800012d"", ""de..."

In [53]:
movies.isnull().sum()

movie_id    0
title       0
overview    1
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [54]:
movies.dropna(inplace=True)

In [55]:
movies.duplicated().sum()

12

In [56]:
#movies=movies.drop_duplicates()

In [57]:
movies.iloc[0].genres

'[{"id": 80, "name": "Crime"}, {"id": 35, "name": "Comedy"}]'

In [58]:
import ast

In [59]:
def convert(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [60]:
movies['genres']=movies['genres'].apply(convert)

In [61]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,5,Four Rooms,It's Ted the Bellhop's first night on the job....,"[Crime, Comedy]","[{""id"": 612, ""name"": ""hotel""}, {""id"": 613, ""na...","[{""cast_id"": 42, ""character"": ""Ted the Bellhop...","[{""credit_id"": ""52fe420dc3a36847f800012d"", ""de..."

In [62]:
movies['keywords']=movies['keywords'].apply(convert)

In [63]:
def convert1(obj):
    L=[]
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3:
            L.append(i['name'])
            counter+=1
        else:
            break
    return L

In [64]:
movies['cast']=movies['cast'].apply(convert1)

In [65]:
def fetch_director(obj):
    L=[]
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [66]:
movies['crew']=movies['crew'].apply(fetch_director)

In [67]:
movies['overview']=movies['overview'].apply(lambda x:x.split())

In [68]:
movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew']=movies['crew'].apply(lambda x:[i. replace(" ","") for i in x])

In [69]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,5,Four Rooms,"[It's, Ted, the, Bellhop's, first, night, on, ...","[Crime, Comedy]","[hotel, newyear'seve, witch, bet, hotelroom, s...","[TimRoth, AntonioBanderas, JenniferBeals]",[AllisonAnders]
1,11,Star Wars,"[Princess, Leia, is, captured, and, held, host...","[Adventure, Action, ScienceFiction]","[android, galaxy, hermit, deathstar, lightsabe...","[MarkHamill, HarrisonFord, CarrieFisher]",[GeorgeLucas]
2,12,Finding Nemo,"[Nemo,, an, adventurous, young, clownfish,, is...","[Animation, Family]","[fathersonrelationship, harbor, underwater, fi...","[AlbertBrooks, EllenDeGeneres, AlexanderGould]",[AndrewStanton]
3,13,Forrest Gump,"[A, man, with, a, low, IQ, has, accomplished, ...","[Comedy, Drama, Romance]","[vietnamveteran, hippie, mentallydisabled, run...","[TomHanks, RobinWright, GarySinise]",[RobertZemeckis]
4,14,American Beauty,"[Lester, Burnham,, a, depressed, suburban, fat...",[Drama],"[malenudity, femalenudity, adultery, midlifecr...","[KevinSpacey, AnnetteBening, ThoraBirch]",[SamMendes]

In [70]:
movies['tags']=movies['overview']+ movies['genres']+movies['keywords']+ movies['cast'] + movies['crew']

In [71]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,5,Four Rooms,"[It's, Ted, the, Bellhop's, first, night, on, ...","[Crime, Comedy]","[hotel, newyear'seve, witch, bet, hotelroom, s...","[TimRoth, AntonioBanderas, JenniferBeals]",[AllisonAnders],"[It's, Ted, the, Bellhop's, first, night, on, ..."
1,11,Star Wars,"[Princess, Leia, is, captured, and, held, host...","[Adventure, Action, ScienceFiction]","[android, galaxy, hermit, deathstar, lightsabe...","[MarkHamill, HarrisonFord, CarrieFisher]",[GeorgeLucas],"[Princess, Leia, is, captured, and, held, host..."
2,12,Finding Nemo,"[Nemo,, an, adventurous, young, clownfish,, is...","[Animation, Family]","[fathersonrelationship, harbor, underwater, fi...","[AlbertBrooks, EllenDeGeneres, AlexanderGould]",[AndrewStanton],"[Nemo,, an, adventurous, young, clownfish,, is..."
3,13,Forrest Gump,"[A, man, with, a, low, IQ, has, accomplished, ...","[Comedy, Drama, Romance]","[vietnamveteran, hippie, mentallydisabled, run...","[TomHanks, RobinWright, GarySinise]",[RobertZemeckis],"[A, man, with, a, low, IQ, has, accomplished, ..."
4,14,American Beauty,"[Lester, Burnham,, a, depressed, suburban, fat...",[Drama],"[malenudity, femalenudity, adultery, midlifecr...","[KevinSpacey, AnnetteBening, ThoraBirch]",[SamMendes],"[Lester, Burnham,, a, depressed, suburban, fat..."

In [72]:
new_df = movies[['movie_id','title','tags']]

In [73]:
new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\goyal\AppData\Local\Temp\ipykernel_27700\487797088.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

In [74]:
new_df.to_csv('movies.csv',index=False)

In [75]:
new_df.head()

,movie_id,title,tags
0,5,Four Rooms,It's Ted the Bellhop's first night on the job....
1,11,Star Wars,Princess Leia is captured and held hostage by ...
2,12,Finding Nemo,"Nemo, an adventurous young clownfish, is unexp..."
3,13,Forrest Gump,A man with a low IQ has accomplished great thi...
4,14,American Beauty,"Lester Burnham, a depressed suburban father in..."

In [76]:
import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
import string

nltk.download('stopwords')

ps = PorterStemmer()
stop_words = set(stopwords.words('english'))

def clean_text(text):
    text = text.lower()
    text = text.translate(str.maketrans('', '', string.punctuation))
    tokens = [word for word in text.split() if word not in stop_words]
    stemmed_tokens = [ps.stem(word) for word in tokens]
    return " ".join(stemmed_tokens)

new_df['tags'] = new_df['tags'].apply(clean_text)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\goyal\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
C:\Users\goyal\AppData\Local\Temp\ipykernel_27700\1661454833.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(clean_text)

In [77]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(max_features=5000)  
tfidf_matrix = tfidf.fit_transform(new_df['tags'])

In [78]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim = cosine_similarity(tfidf_matrix)

In [79]:
def recommend_movies(movie_title, df, cosine_sim):
    idx = df[df['title'] == movie_title].index[0]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_indices = [i[0] for i in sim_scores[1:11]] 
    return df['title'].iloc[sim_indices]
print(recommend_movies('The Dark Knight', new_df, cosine_sim))

3426                 The Dark Knight Rises
166                         Batman Returns
127                          Batman Begins
184                         Batman Forever
185                         Batman & Robin
4214    Batman v Superman: Dawn of Justice
124                                 Batman
123                                 Batman
4031                        The Lego Movie
2779       Gangster's Paradise: Jerusalema
Name: title, dtype: object

In [80]:
def recommend(movie):
    movie_index=new_df[new_df['title'] == movie].index[0]
    distance = cosine_sim[movie_index]
    movie_list= sorted(list(enumerate(distance)),reverse=True,key=lambda x:x[1])[1:8]

    for i in movie_list:
        print(new_df.iloc[i[0]].title)

In [81]:
recommend('Batman')

Batman
Batman & Robin
Batman Returns
The Dark Knight Rises
Batman
Batman Begins
Batman Forever

In [82]:
import pickle
with open('cosine_sim.pkl', 'wb') as file:
    pickle.dump(cosine_sim, file)

In [83]:
recommend_movies('Batman',new_df,cosine_sim)

124                                 Batman
185                         Batman & Robin
166                         Batman Returns
3426                 The Dark Knight Rises
125                                 Batman
127                          Batman Begins
184                         Batman Forever
68                         The Dark Knight
4214    Batman v Superman: Dawn of Justice
3092                              Defendor
Name: title, dtype: object